## Conexión base de datos

In [30]:
import MySQLdb
import pandas as pd
from datetime import datetime

db = MySQLdb.connect(host="192.168.0.12",    #  host
                     user="operario",         #  usuario
                     passwd="",  #  password
                     db="dbp8100")        #  nombre de la base de datos

cur = db.cursor()

# Extracción de datos

### Tabla tareaseje

In [22]:
# Carga Inicial
cur.execute("SELECT * FROM tareaseje")
resultados = cur.fetchall()
# Obtener los nombres de las columnas
columnas = [desc[0] for desc in cur.description]

# Crear un DataFrame de pandas
df = pd.DataFrame(resultados, columns=columnas)

# Cerrar el cursor y la conexión
cur.close()
db.close()

# Mostrar el DataFrame
print(df)

       NroID       Fecha            Hora   IDF  Ciclos  IDOP  Turno      Eje  \
0          1  2012-06-28 0 days 17:52:55     1      20     0      0  b'\x00'
1          2  2012-06-28 0 days 19:10:51    11       2     0      0  b'\x00'
2          3  2012-06-29 0 days 07:08:30    26       7     0      0  b'\x00'
3          4  2012-06-29 0 days 08:32:20    27      28     0      0  b'\x00'
4          5  2012-06-29 0 days 12:26:42    18      23     0      0  b'\x00'
...      ...         ...             ...   ...     ...   ...    ...      ...
25170  25171  2025-02-07 0 days 04:11:30  1208       6     7      0  b'\x00'
25171  25172  2025-02-07 0 days 04:55:06  1120      20     7      0  b'\x00'
25172  25173  2025-02-07 0 days 07:55:46  1042      10     7      0  b'\x00'
25173  25174  2025-02-07 0 days 12:24:44   906       2     8      0  b'\x00'
25174  25175  2025-02-07 0 days 12:28:50   906       2     8      0  b'\x00'

           Set  IDD  Lote  Destino          Tiempo  KVA  CicloE     SetE
0      20420.0    0     1  INTERNO 0 days 00:00:49  0.0       0      0.0
1       2040.0    0     2  INTERNO 0 days 00:01:12  0.0       0      0.0
2       6916.0    0     3  INTERNO 0 days 01:09:11  0.0       7   6916.0
3      30912.0    0     4  INTERNO 0 days 03:46:11  0.0      28  30912.0
4      23460.0    0     5  INTERNO 0 days 00:15:36  0.0       2   2040.0
...        ...  ...   ...      ...             ...  ...     ...      ...
25170   6000.0    0     2  INTERNO 0 days 00:41:14  0.0       6   6000.0
25171  20000.0    0     3  INTERNO 0 days 00:00:00  0.0      16  16000.0
25172  10000.0    0     1  INTERNO 0 days 01:26:16  0.0      10  10000.0
25173   2000.0    0     1  INTERNO 0 days 00:03:53  0.0       0      0.0
25174   2000.0    0     2  INTERNO 0 days 00:23:50  0.0       2   2000.0

[25175 rows x 16 columns]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25175 entries, 0 to 25174
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   NroID    25175 non-null  int64
 1   Fecha    25175 non-null  object
 2   Hora     25175 non-null  timedelta64[ns]
 3   IDF      25175 non-null  int64
 4   Ciclos   25175 non-null  int64
 5   IDOP     25175 non-null  int64
 6   Turno    25175 non-null  int64
 7   Eje      25175 non-null  object
 8   Set      25175 non-null  float64
 9   IDD      25175 non-null  int64
 10  Lote     25175 non-null  int64
 11  Destino  25175 non-null  object
 12  Tiempo   25175 non-null  timedelta64[ns]
 13  KVA      25175 non-null  float64
 14  CicloE   25175 non-null  int64
 15  SetE     25175 non-null  float64
dtypes: float64(3), int64(8), object(3), timedelta64[ns](2)
memory usage: 3.1+ MB

In [24]:
df.to_parquet('../Data/tareaseje_inicio.parquet', index=False)

### Tabla formulas

In [28]:
# Carga Inicial
cur.execute("SELECT * FROM formulas")
resultados = cur.fetchall()
# Obtener los nombres de las columnas
columnas = [desc[0] for desc in cur.description]

# Crear un DataFrame de pandas
df = pd.DataFrame(resultados, columns=columnas)

# Cerrar el cursor y la conexión
cur.close()
db.close()

# Mostrar el DataFrame
print(df)

      NroID                                Nombre  Codigo  Desc1A  Desc1B  \
0        35           FIBROMIXER 300  19% A.A. -1    None       0       0
1        36     VACA LECHERA 16% anulada no hacer     3-K       0       0
2        39  DEST. PRECOZ MEL. 0%A.A CASC DE SOJA  07-009       0       1
3        40          INICIADOR MELAZA (21 %A.A.)   08-020       0       0
4        41            C.M. URUGUAY REFORZADO 10%    09-H       0       0
...     ...                                   ...     ...     ...     ...
1151   1249       LIMPIEZA CIRCUITO EXPELLER SOJA    LCES       0       0
1152   1250       LIMPIEZA CIRCUITO MAÍZ QUEBRADO    LCMQ       0       0
1153   1251                    PELLETS DE ALFALFA    P.A.       0       0
1154   1252     LIMPIEZA CIRCUITO PELLETS ALFALFA    LCPA       0       0
1155   1253            TERMINADOR MELAZA PARAGUAY  99-010       0       0

      Desc1C  Desc1D  T1   T2  T3  ...  T21  T22  T23  T24  Extra1  Extra2  \
0          0       0  10  200  20  ...    0    0    0    0       0       0
1          0       0  10  180  10  ...    0    0    0    0       0       0
2          0       2  10  120  10  ...    0    0    0    0       0       0
3          0       3  10  180  10  ...    0    0    0    0       0       0
4          0       0  10  180  10  ...    0    0    0    0       0       0
...      ...     ...  ..  ...  ..  ...  ...  ...  ...  ...     ...     ...
1151       0       1  10   20  10  ...    0    0    0    0       0       0
1152       0       1  10   20  10  ...    0    0    0    0       0       0
1153       0       1  10   10  10  ...    0    0    0    0       0       0
1154       0       1  10   20  10  ...    0    0    0    0       0       0
1155       0       0  10  240  10  ...    0    0    0    0       0       0

      Extra3  SetAmp  VT  IDgrupo
0          0     0.0   0        0
1          0     0.0   0        0
2          0     0.0   0        0
3          0     0.0   0        0
4          0     0.0   0        0
...      ...     ...  ..      ...
1151       0     0.0   1        0
1152       0     0.0   1        0
1153       0     0.0   1        0
1154       0     0.0   1        0
1155       0     0.0   1        0

[1156 rows x 37 columns]

In [29]:
df.to_parquet('../Data/formulas_inicio.parquet', index=False)

### Tabla dcaptura

In [31]:
# Carga Inicial
cur.execute("SELECT * FROM dcaptura")
resultados = cur.fetchall()
# Obtener los nombres de las columnas
columnas = [desc[0] for desc in cur.description]

# Crear un DataFrame de pandas
df = pd.DataFrame(resultados, columns=columnas)

# Cerrar el cursor y la conexión
cur.close()
db.close()

# Mostrar el DataFrame
print(df)
df.to_parquet('../Data/dcaptura_inicio.parquet', index=False)

         NroID    IDT  IDP  Item  Plata     Set   Valor  Ciclo  Emax   Frango  \
0            1      3    9     1      2    56.0    49.0      7  -7.0  b'\x00'
1            2      3   11     2      2    28.0    36.0      7   8.0  b'\x00'
2            3      3   10     3      2    98.0    87.0      7 -11.0  b'\x00'
3            4      3    8     1      1   980.0   980.8      7   0.8  b'\x00'
4            5      3    2     1      0  2520.0  2532.0      7  12.0  b'\x00'
...        ...    ...  ...   ...    ...     ...     ...    ...   ...      ...
168116  168117  25173  137     8      0  2720.0  2753.0     10  33.0  b'\x00'
168117  168118  25173   34     9      0   500.0   518.0     10  18.0  b'\x00'
168118  168119  25175    5     1      0  1070.0  1075.0      2   5.0  b'\x00'
168119  168120  25175   19     2      0   630.0   634.0      2   4.0  b'\x00'
168120  168121  25175  216     1      2   300.0   304.1      2   4.1  b'\x00'

        Idstock
0             0
1             0
2             0
3             0
4             0
...         ...
168116        0
168117        0
168118        0
168119        0
168120        0

[168121 rows x 11 columns]