# Calculo de Productividad

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns

In [27]:
dict_gral = pd.read_excel('../Data/horarios MADRE.xls', sheet_name=None)

In [33]:
for nombre_hoja, dataframe_hoja in dict_gral.items():
    print(f"\nProcesando la hoja: '{nombre_hoja}'")
    print(f"Tipo de objeto: {type(dataframe_hoja)}")
    print("Primeras 5 filas:")
    print(dataframe_hoja.head())
    print(f"Dimensiones (filas, columnas): {dataframe_hoja.shape}")
    print("-" * 50)

Procesando la hoja: 'BERNALD Alberto'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
   QUINCENA       Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0       2.0  Bernald Alberto  2023-07-01 07:49:21         0.0    ENTRADA
1       2.0  Bernald Alberto  2023-07-01 12:03:48         1.0     SALIDA
2       2.0  Bernald Alberto  2023-07-04 07:22:50         0.0    ENTRADA
3       2.0  Bernald Alberto  2023-07-04 12:01:06         1.0     SALIDA
4       2.0  Bernald Alberto  2023-07-04 15:12:28         0.0    ENTRADA

  HS NORMALES HS NOCTURNAS  EXTRAS  TOTAL EX
0         NaN          NaN     NaN       NaN
1         NaN          NaN     NaN       4.0
2         NaN          NaN     NaN       NaN
3         4.5          NaN     NaN       NaN
4         NaN          NaN     NaN       NaN
Dimensiones (filas, columnas): (1254, 9)
--------------------------------------------------

Procesando la hoja: 'ARANDA Marcelo'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
   QUINCENA      Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0       3.0  Aranda Marcelo  2023-07-01 03:44:40         0.0    ENTRADA
1       3.0  Aranda Marcelo  2023-07-01 11:01:57         1.0     SALIDA
2       3.0  Aranda Marcelo  2023-07-04 08:26:17         0.0    ENTRADA
3       3.0  Aranda Marcelo  2023-07-04 18:00:03         1.0     SALIDA
4       3.0  Aranda Marcelo  2023-07-04 23:45:40         0.0    ENTRADA

  HS NORMALES  HS NOCTURNAS EXTRAS  TOTAL EX Unnamed: 9
0         NaN           NaN    NaN       NaN        NaN
1         NaN           NaN    4*2       8.0        NaN
2         NaN           NaN    NaN       NaN        NaN
3           9           NaN    1*2       2.0        NaN
4         NaN           NaN    NaN       NaN        NaN
Dimensiones (filas, columnas): (1122, 10)
--------------------------------------------------

Procesando la hoja: 'MORETTI Marcelo'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
  QUINCENA               Unnamed: 1           Unnamed: 2  Unnamed: 3  \
0        4  Moretti Marcelo Gabriel  2023-07-03 04:51:04         0.0
1        4  Moretti Marcelo Gabriel  2023-07-03 09:31:26         1.0
2        4  Moretti Marcelo Gabriel  2023-07-04 04:49:06         0.0
3        4  Moretti Marcelo Gabriel  2023-07-04 14:20:21         1.0
4        4  Moretti Marcelo Gabriel  2023-07-05 04:55:50         0.0

  Unnamed: 4 HS NORMALES HS NOCTURNAS  EXTRAS  TOTAL EX
0    ENTRADA         NaN          NaN     NaN       NaN
1     SALIDA         4.5            1     NaN       NaN
2    ENTRADA         NaN          NaN     NaN       NaN
3     SALIDA           9            1     NaN       NaN
4    ENTRADA         NaN          NaN     NaN       NaN
Dimensiones (filas, columnas): (1938, 9)
--------------------------------------------------

Procesando la hoja: 'BARRETO Ramon'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
   QUINCENA            Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0      12.0  Barreto Ramon Andres  2023-07-04 11:43:59         0.0    ENTRADA
1      12.0  Barreto Ramon Andres  2023-07-04 20:03:45         1.0     SALIDA
2      12.0  Barreto Ramon Andres  2023-07-05 11:42:26         0.0    ENTRADA
3      12.0  Barreto Ramon Andres  2023-07-05 20:04:17         1.0     SALIDA
4      12.0  Barreto Ramon Andres  2023-07-06 11:45:46         0.0    ENTRADA

   HS NORMALES  HS NOCTURNAS EXTRAS TOTAL EX Unnamed: 9
0          NaN           NaN    NaN      NaN        NaN
1          8.0           NaN    NaN      NaN        NaN
2          NaN           NaN    NaN      NaN        NaN
3          8.0           NaN    NaN      NaN        NaN
4          NaN           NaN    NaN      NaN        NaN
Dimensiones (filas, columnas): (1209, 10)
--------------------------------------------------

Procesando la hoja: 'NOCENTI Liliana'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
  QUINCENA              Unnamed: 1           Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0       34  Nocenti Liliana Marina  2023-07-01 08:00:52          0    ENTRADA
1       34  Nocenti Liliana Marina  2023-07-01 11:58:37          1     SALIDA
2       34  Nocenti Liliana Marina  2023-07-03 07:03:35          0    ENTRADA
3       34  Nocenti Liliana Marina  2023-07-03 12:00:58          1     SALIDA
4       34  Nocenti Liliana Marina  2023-07-03 15:24:46          0    ENTRADA

  HS NORMALES HS NOCTURNAS EXTRAS  TOTAL EX Unnamed: 9
0         NaN          NaN    NaN       NaN        NaN
1           4          NaN    NaN       NaN        NaN
2         NaN          NaN    NaN       NaN        NaN
3           5          NaN    NaN       NaN        NaN
4         NaN          NaN    NaN       NaN        NaN
Dimensiones (filas, columnas): (2206, 10)
--------------------------------------------------

Procesando la hoja: 'CIAN German'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
   QUINCENA   Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0      35.0  Cian German  2023-07-01 03:04:14         0.0    ENTRADA
1      35.0  Cian German  2023-07-01 11:47:46         1.0     SALIDA
2      35.0  Cian German  2023-07-03 22:59:51         0.0    ENTRADA
3      35.0  Cian German  2023-07-04 08:17:33         1.0     SALIDA
4      35.0  Cian German  2023-07-04 22:57:17         0.0    ENTRADA

  HS NORMALES HS NOCTURNAS EXTRAS  TOTAL EX
0         NaN          NaN    NaN       NaN
1         NaN          NaN    NaN       8.0
2         NaN          NaN    NaN       NaN
3           9            7    NaN       NaN
4         NaN          NaN    NaN       NaN
Dimensiones (filas, columnas): (1124, 9)
--------------------------------------------------

Procesando la hoja: 'VARGAS Mario'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
  QUINCENA    Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0       91  Vargas Mario  2023-07-04 07:52:41         0.0    ENTRADA
1       91  Vargas Mario  2023-07-04 17:00:02         1.0     SALIDA
2       91  Vargas Mario  2023-07-05 07:59:48         0.0    ENTRADA
3       91  Vargas Mario  2023-07-05 17:03:39         1.0     SALIDA
4       91  Vargas Mario  2023-07-06 09:36:24         0.0    ENTRADA

  HS NORMALES HS NOCTURNAS EXTRAS  TOTAL EX Unnamed: 9
0         NaN          NaN    NaN       NaN        NaN
1           9          NaN    NaN       NaN        NaN
2         NaN          NaN    NaN       NaN        NaN
3           9          NaN    NaN       NaN        NaN
4         NaN          NaN    NaN       NaN        NaN
Dimensiones (filas, columnas): (1142, 10)
--------------------------------------------------

Procesando la hoja: 'FONTANA Silvio'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
   QUINCENA      Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0     115.0  Fontana Silvio  2023-09-04 07:22:01         0.0    ENTRADA
1     115.0  Fontana Silvio  2023-09-04 11:59:22         1.0     SALIDA
2     115.0  Fontana Silvio  2023-09-04 15:21:58         0.0    ENTRADA
3     115.0  Fontana Silvio  2023-09-04 19:00:07         1.0     SALIDA
4     115.0  Fontana Silvio  2023-09-05 07:19:33         0.0    ENTRADA

   HS NORMALES  HS NOCTURNAS EXTRAS  TOTAL EX
0          NaN           NaN    NaN       NaN
1          4.5           NaN    NaN       NaN
2          NaN           NaN    NaN       NaN
3          3.5           NaN    NaN       NaN
4          NaN           NaN    NaN       NaN
Dimensiones (filas, columnas): (1456, 9)
--------------------------------------------------

Procesando la hoja: 'GOMEZ Ramon'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
  QUINCENA   Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0      123  Gomez Ramon  2023-07-03 23:42:17         0.0    ENTRADA
1      123  Gomez Ramon  2023-07-04 08:41:13         1.0     SALIDA
2      123  Gomez Ramon  2023-07-05 08:48:56         0.0    ENTRADA
3      123  Gomez Ramon  2023-07-05 18:30:06         1.0     SALIDA
4      123  Gomez Ramon  2023-07-05 23:43:47         0.0    ENTRADA

   HS NORMALES  HS NOCTURNAS EXTRAS  TOTAL EX
0          NaN           NaN    NaN       NaN
1          8.5           6.0    NaN       NaN
2          NaN           NaN    NaN       NaN
3          9.5           6.0    NaN       NaN
4          NaN           NaN    NaN       NaN
Dimensiones (filas, columnas): (1057, 9)
--------------------------------------------------

Procesando la hoja: 'CARABALLO Rosario'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
   QUINCENA         Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0     137.0  Caraballo Rosario  2023-07-04 03:43:25         0.0        NaN
1     137.0  Caraballo Rosario  2023-07-04 13:00:14         1.0        NaN
2     137.0  Caraballo Rosario  2023-07-05 03:41:03         0.0        NaN
3     137.0  Caraballo Rosario  2023-07-05 13:00:31         1.0        NaN
4     137.0  Caraballo Rosario  2023-07-06 03:43:30         0.0        NaN

   HS NORMALES  HS NOCTURNAS  EXTRAS  TOTAL EX
0          NaN           NaN     NaN       NaN
1          9.0           2.0     NaN       NaN
2          NaN           NaN     NaN       NaN
3          9.0           2.0     NaN       NaN
4          NaN           NaN     NaN       NaN
Dimensiones (filas, columnas): (1152, 9)
--------------------------------------------------

Procesando la hoja: 'BARCA Fabian'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
   QUINCENA    Unnamed: 1           Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0     141.0  BARCA FABIAN  2023-07-04 03:55:35          0    ENTRADA
1     141.0  BARCA FABIAN  2023-07-04 13:05:47          1     SALIDA
2     141.0  BARCA FABIAN  2023-07-05 03:55:01          0    ENTRADA
3     141.0  BARCA FABIAN  2023-07-05 13:03:32          1     SALIDA
4     141.0  BARCA FABIAN  2023-07-06 03:54:25          0    ENTRADA

   HS NORMALES HS NOCTURNAS  EXTRAS  TOTAL EX Unnamed: 9
0          NaN          NaN     NaN       NaN        NaN
1          9.0            2     NaN       NaN        NaN
2          NaN          NaN     NaN       NaN        NaN
3          9.0            2     NaN       NaN        NaN
4          NaN          NaN     NaN       NaN        NaN
Dimensiones (filas, columnas): (1393, 10)
--------------------------------------------------

Procesando la hoja: 'NACICH Olga'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
  QUINCENA           Unnamed: 1           Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0      202  Nacich Olga Beatriz  2023-07-01 07:56:18          0    ENTRADA
1      202  Nacich Olga Beatriz  2023-07-01 12:00:20          1     SALIDA
2      202  Nacich Olga Beatriz  2023-07-03 07:20:06          0    ENTRADA
3      202  Nacich Olga Beatriz  2023-07-03 12:04:13          1     SALIDA
4      202  Nacich Olga Beatriz  2023-07-03 15:15:30          0    ENTRADA

  HS NORMALES HS NOCTURNAS EXTRAS  TOTAL EX
0         NaN          NaN    NaN       NaN
1           4          NaN    NaN       NaN
2         NaN          NaN    NaN       NaN
3         4.5          NaN    NaN       NaN
4         NaN          NaN    NaN       NaN
Dimensiones (filas, columnas): (2156, 9)
--------------------------------------------------

Procesando la hoja: 'JARA Hugo'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
  QUINCENA          Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0      204  Jara Zaquelli Hugo  2023-07-01 08:05:48         0.0    ENTRADA
1      204  Jara Zaquelli Hugo  2023-07-01 12:13:05         1.0     SALIDA
2      204  Jara Zaquelli Hugo  2023-07-04 08:13:53         0.0    ENTRADA
3      204  Jara Zaquelli Hugo  2023-07-04 12:24:56         1.0     SALIDA
4      204  Jara Zaquelli Hugo  2023-07-04 15:52:04         0.0    ENTRADA

  HS NORMALES HS NOCTURNAS  EXTRAS  TOTAL EX
0         NaN          NaN     NaN       NaN
1           4          NaN     NaN       NaN
2         NaN          NaN     NaN       NaN
3           4          NaN     NaN       NaN
4         NaN          NaN     NaN       NaN
Dimensiones (filas, columnas): (2011, 9)
--------------------------------------------------

Procesando la hoja: 'ORZAN Orlando'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
  QUINCENA     Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0      263  Orzan Orlando  2023-07-04 07:19:49         0.0    ENTRADA
1      263  Orzan Orlando  2023-07-04 12:00:12         1.0     SALIDA
2      263  Orzan Orlando  2023-07-04 15:25:58         0.0    ENTRADA
3      NaN            NaN                  NaN         NaN     SALIDA
4      263  Orzan Orlando  2023-07-05 07:23:01         0.0    ENTRADA

   HS NORMALES  HS NOCTURNAS  EXTRAS  TOTAL EX Unnamed: 9
0          NaN           NaN     NaN       NaN        NaN
1          4.5           NaN     NaN       NaN        NaN
2          NaN           NaN     NaN       NaN        NaN
3          4.0           NaN     NaN       NaN        NaN
4          NaN           NaN     NaN       NaN        NaN
Dimensiones (filas, columnas): (1551, 10)
--------------------------------------------------

Procesando la hoja: 'VERA Enzo'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
  QUINCENA        Unnamed: 1           Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0      288  VERA ENZO DANIEL  2023-07-04 03:46:18          0    ENTRADA
1      288  VERA ENZO DANIEL  2023-07-04 12:06:31          1     SALIDA
2      288  VERA ENZO DANIEL  2023-07-05 03:44:52          0    ENTRADA
3      288  VERA ENZO DANIEL  2023-07-05 12:08:10          1     SALIDA
4      288  VERA ENZO DANIEL  2023-07-06 03:49:08          0    ENTRADA

  HS NORMALES HS NOCTURNAS EXTRAS TOTAL EX Unnamed: 9 Unnamed: 10
0         NaN          NaN    NaN      NaN        NaN         NaN
1           8            2    NaN      NaN        NaN         NaN
2         NaN          NaN    NaN      NaN        NaN         NaN
3           8            2    NaN      NaN        NaN         NaN
4         NaN          NaN    NaN      NaN        NaN         NaN
Dimensiones (filas, columnas): (1276, 11)
--------------------------------------------------

Procesando la hoja: 'PUCHETA Javier'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
  QUINCENA      Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0      301  PUCHETA JAVIER  2023-07-03 19:31:58         0.0    ENTRADA
1      301  PUCHETA JAVIER  2023-07-04 04:00:30         1.0     SALIDA
2      301  PUCHETA JAVIER  2023-07-04 19:40:52         0.0    ENTRADA
3      301  PUCHETA JAVIER  2023-07-05 04:02:22         1.0     SALIDA
4      301  PUCHETA JAVIER  2023-07-05 19:35:44         0.0    ENTRADA

  HS NORMALES HS NOCTURNAS EXTRAS TOTAL EX Unnamed: 9 Unnamed: 10
0         NaN          NaN    NaN      NaN        NaN         NaN
1           8            7    NaN      NaN        NaN         NaN
2         NaN          NaN    NaN      NaN        NaN         NaN
3           8            7    NaN      NaN        NaN         NaN
4         NaN          NaN    NaN      NaN        NaN         NaN
Dimensiones (filas, columnas): (1310, 11)
--------------------------------------------------

Procesando la hoja: 'VICENTIN Lucas'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
   QUINCENA      Unnamed: 1           Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0     303.0  Vicentin Lucas  2023-07-01 07:59:59          0    ENTRADA
1     303.0  Vicentin Lucas  2023-07-01 12:04:34          1     SALIDA
2     303.0  Vicentin Lucas  2023-07-04 07:26:28          0    ENTRADA
3     303.0  Vicentin Lucas  2023-07-04 12:01:03          1     SALIDA
4     303.0  Vicentin Lucas  2023-07-04 15:25:41          0    ENTRADA

   HS NORMALES  HS NOCTURNAS EXTRAS  TOTAL EX
0          NaN           NaN    NaN       NaN
1          4.0           NaN    NaN       NaN
2          NaN           NaN    NaN       NaN
3          4.5           NaN    NaN       NaN
4          NaN           NaN    NaN       NaN
Dimensiones (filas, columnas): (2027, 9)
--------------------------------------------------

Procesando la hoja: 'ROMERO Gabriel'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
   QUINCENA      Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0     310.0  ROMERO GABRIEL  2023-07-04 03:48:25         0.0    ENTRADA
1     310.0  ROMERO GABRIEL  2023-07-04 13:00:08         1.0     SALIDA
2     310.0  ROMERO GABRIEL  2023-07-05 03:48:43         0.0    ENTRADA
3     310.0  ROMERO GABRIEL  2023-07-05 13:00:07         1.0     SALIDA
4     310.0  ROMERO GABRIEL  2023-07-06 03:50:10         0.0    ENTRADA

   HS NORMALES HS NOCTURNAS EXTRAS TOTAL EX Unnamed: 9
0          NaN          NaN    NaN      NaN        NaN
1          9.0            2    NaN      NaN        NaN
2          NaN          NaN    NaN      NaN        NaN
3          9.0            2    NaN      NaN        NaN
4          NaN          NaN    NaN      NaN        NaN
Dimensiones (filas, columnas): (1403, 10)
--------------------------------------------------

Procesando la hoja: 'CARDOZO Brian'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
   QUINCENA           Unnamed: 1           Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0     344.0  CARDOZO BRIAN ARIEL  2023-07-01 05:56:21         0.0    ENTRADA
1     344.0  CARDOZO BRIAN ARIEL  2023-07-01 10:02:51         1.0     SALIDA
2     344.0  CARDOZO BRIAN ARIEL  2023-07-04 07:22:28         0.0    ENTRADA
3     344.0  CARDOZO BRIAN ARIEL  2023-07-04 12:00:02         1.0     SALIDA
4     344.0  CARDOZO BRIAN ARIEL  2023-07-04 15:24:11         0.0    ENTRADA

   HS NORMALES HS NOCTURNAS EXTRAS TOTAL EX
0          NaN          NaN    NaN      NaN
1          4.0          NaN    NaN      NaN
2          NaN          NaN    NaN      NaN
3          4.5          NaN    NaN      NaN
4          NaN          NaN    NaN      NaN
Dimensiones (filas, columnas): (1689, 9)
--------------------------------------------------

Procesando la hoja: 'CASALIS Carolina'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
   QUINCENA                Unnamed: 1           Unnamed: 2  Unnamed: 3  \
0     364.0  Casalis Carolina Anabela  2024-03-25 08:00:00         0.0
1     364.0  Casalis Carolina Anabela  2024-03-25 12:00:00         1.0
2     364.0  Casalis Carolina Anabela  2024-03-26 07:42:38         0.0
3     364.0  Casalis Carolina Anabela  2024-03-26 12:03:43         1.0
4     364.0  Casalis Carolina Anabela  2024-03-27 07:45:19         0.0

  Unnamed: 4  HS NORMALES HS NOCTURNAS EXTRAS TOTAL EX
0    ENTRADA          NaN          NaN    NaN      NaN
1     SALIDA          4.0          NaN    NaN      NaN
2    ENTRADA          NaN          NaN    NaN      NaN
3     SALIDA          4.0          NaN    NaN      NaN
4    ENTRADA          NaN          NaN    NaN      NaN
Dimensiones (filas, columnas): (804, 9)
--------------------------------------------------

Procesando la hoja: 'PINTOS JOSE A'
Tipo de objeto: <class 'pandas.core.frame.DataFrame'>
Primeras 5 filas:
  LEGAJO    APELLIDO Y NOMBRE                FECHA  REGISTRO    HORAS  \
0    367  PINTOS JOSE ANTONIO  2025-04-15 08:04:08       0.0  ENTRADA
1    368  PINTOS JOSE ANTONIO  2025-04-15 12:04:09       1.0   SALIDA
2    369  PINTOS JOSE ANTONIO  2025-04-15 14:45:44       0.0  ENTRADA
3    370  PINTOS JOSE ANTONIO  2025-04-15 20:45:45       1.0   SALIDA
4    NaN                  NaN                  NaN       NaN      NaN

   Unnamed: 5 Unnamed: 6  Unnamed: 7  Unnamed: 8
0         NaN        NaN         NaN         NaN
1         4.0        NaN         NaN         NaN
2         NaN        NaN         NaN         NaN
3         5.5        NaN         NaN         NaN
4         9.5         V2         NaN         NaN
Dimensiones (filas, columnas): (185, 9)
--------------------------------------------------

Procesando la hoja: 'MENDOZA HECTOR'