## Conexión base de datos

In [27]:
import MySQLdb
import pandas as pd

db = MySQLdb.connect(host="192.168.0.12",    # tu host, usualmente localhost
                     user="operario",         # tu usuario
                     passwd="",  # tu password
                     db="dbp8100")        # el nombre de la base de datos

# Debes crear un objeto Cursor. Te permitirá
# ejecutar todos los queries que necesitas
cur = db.cursor()

# Usa todas las sentencias SQL que quieras
cur.execute("SELECT * FROM tareaseje")

25153

# Extracción de datos

In [30]:
# Extraer datos y convertir a df

# Datos mysql
cur.execute('''
            SELECT                 
                tareaseje.Fecha AS Fecha,
                tareaseje.Hora AS Hora,
                formulas.Nombre AS Nombre,
                tareaseje.Set AS Programado,
                tareaseje.SetE AS Realizado,
                tareaseje.Tiempo AS Tiempo
            FROM 
                dbp8100.tareaseje AS tareaseje
            JOIN 
                dbp8100.formulas AS formulas ON formulas.NroID = tareaseje.IDF
            WHERE
                Fecha = '2025-02-05' ''')
resultados = cur.fetchall()
# Obtener los nombres de las columnas
columnas = [desc[0] for desc in cur.description]

# Crear un DataFrame de pandas
df = pd.DataFrame(resultados, columns=columnas)

# Cerrar el cursor y la conexión
cur.close()
db.close()

# Mostrar el DataFrame
print(df)

        Fecha            Hora                                         Nombre  \
0  2025-02-05 0 days 03:06:51                     RECRIA 16  AL 15%  A.A....
1  2025-02-05 0 days 06:06:46                     RECRIA 16  AL 15%  A.A....
2  2025-02-05 0 days 09:57:52                     RECRIA 16  AL 15%  A.A....
3  2025-02-05 0 days 10:35:33                        ENGORDE BOVINO 14% A.A.
4  2025-02-05 0 days 11:16:03                          TER MELAZA 12.8%AA...
5  2025-02-05 0 days 12:30:14                       MANTENIMIENTO MELAZA....
6  2025-02-05 0 days 13:09:38                DESTETE PRECOZ MELAZA  10% A.A.
7  2025-02-05 0 days 14:15:47                                  HAPPY STARTER
8  2025-02-05 0 days 14:51:36  FIBROMIXER PASTOREO 16%A.A. (P Girasol Común)
9  2025-02-05 0 days 15:32:54            RECRIA 14 SIN PELETEAR (quebradora)

   Programado  Realizado          Tiempo
0     17000.0    17000.0 0 days 02:57:28
1     15000.0    15000.0 0 days 03:42:50
2      5000.0     3000.0 0 days 00:37:07
3      3000.0     3000.0 0 days 00:39:50
4      6000.0     6000.0 0 days 01:11:54
5      3000.0     3000.0 0 days 00:37:43
6      3996.0     3996.0 0 days 00:00:00
7      2997.0     2997.0 0 days 00:33:56
8      2000.0     2000.0 0 days 00:27:41
9     28000.0    14000.0 0 days 02:28:33

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25153 entries, 0 to 25152
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   NroID    25153 non-null  int64
 1   Fecha    25153 non-null  object
 2   Hora     25153 non-null  timedelta64[ns]
 3   IDF      25153 non-null  int64
 4   Ciclos   25153 non-null  int64
 5   IDOP     25153 non-null  int64
 6   Turno    25153 non-null  int64
 7   Eje      25153 non-null  object
 8   Set      25153 non-null  float64
 9   IDD      25153 non-null  int64
 10  Lote     25153 non-null  int64
 11  Destino  25153 non-null  object
 12  Tiempo   25153 non-null  timedelta64[ns]
 13  KVA      25153 non-null  float64
 14  CicloE   25153 non-null  int64
 15  SetE     25153 non-null  float64
dtypes: float64(3), int64(8), object(3), timedelta64[ns](2)
memory usage: 3.1+ MB